html, body {
  height: 100%;
}
body, header, nav, ul, li, a {
  margin: 0;
  padding: 0;
  

.container-fluid {
 /* background-color: #002b7a34; */
}
 main {
  background-color: aquamarine;
 }
.navbar {
  background-color: #557a00f1;
  padding: 1px 1px 1px 1px;
  margin: auto;
}
nav {
  
  
}


.social-container {
  position: absolute;
  width: 300px ;
  height: 50px;
  left: 120px;
  right: 80px;
  display: grid;
  t
 
}

.social-item {

  align-content: space-between;
}

.navbar-toggler {
  background-color: #ececec;
  
}

.navbar-brand {
  background-color: #f47920;
}
.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
  }
  
  .video-container video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

 

  }
  
.header-bg {
align-items: center;" ;
padding: 6px;
border-radius: 20;
max-width: 1920px;

}

.nav-link {
  padding: 10px 0px 10px 0px;
}
.nav-item {
  font-size: 17px;
}


.bg-image {
  padding: 150px 200px 150px 200px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

button {
  padding: 1px 16px;
  margin-left: -12px;
  border: none;
  border-radius: 4px;
  background-color: #445ddc76;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: all 1s ease-out;
}

button:hover {
  color: #8868cd8d;
  transition: all 2s ease-in;
}
.login-button {
  margin-left: 5px;
 
}

.background-video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
  
}

.background-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

   
.banner-desc-1 {
  color: #fff;
  letter-spacing: -1px;
  text-indent: 0;
  text-transform: uppercase;
  -webkit-text-fill-color: inherit;
  background-color: #034671 ;
  background-clip: border-box;
  margin-top: 2px;
  padding: 0 10px;
  font-family: Oswald, sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 60px;
  display: inline-block;
}

.text-block-1 {
  font-size: 13px;
  line-height: 20px;
}

.bannertitle {
  position: relative;
  margin-bottom: 200px;
  width: 855px;
  height: 250px;
  left: 100px;
  top: 200px;
  text-transform: uppercase;
  white-space: normal;
  font-family: Oswald, sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 46px;
}

.upcomingevents {
  background-color: #ececec;
  width: 855px;
  height: 300px;
  left: 60px;
  top: 100px;
}

.w-container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}




.hilight_sml_wob {
  align-self: center;
  font-size: 25px;
  line-height: 35px;
}

.footer {
  position: relative;
  bottom: 100%;
  margin-top: 100px ;
  text-align: center;
  background-color: #034671;
  color: aliceblue;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 22px;
  align-items: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 -4px 11px -3px #1d1d1d;
  padding-left: 20px;
  padding-right: 20px;
}



 

    .grid-container {
      display: grid;
      grid-template-rows: repeat(1, 1fr);
      gap: 10px; 
      grid-template-columns: .3fr 1fr 0.3fr;
      align-items: center;
    }
    
    

    .grid-item {
      background-color: #ffffff00;
      padding: 10px;
      background-color: #1d1d1d00;
      
      
    }
    