
body, header, nav, ul, li, a {
  margin: 0;
  padding: 0;

.container-fluid {
 background-color: #002b7a05;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
  }
  
  .video-container video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

 

  }
  
.header-bg {
background-image:url('https://snz04pap002files.storage.live.com/y4mSSICwBNXAKx5a8Z--BDX0lS7Ov3WmXzGg0qJPAMWEmpj60VBSm53mOGOgWSh1zYwcuPE9v04iPJ724qgKuNbsTLdx9DCES_CaN7oYPx0oBHgE-wSg9pKCdRj3Sk06z-QXSyX7y1lPb-ZCYBnmSxlvuc5wDiPsGhS0_aLtcZhhUqGsvnFoNWokHQEhIMF8fUDPpHWd_T1WEmdKHQM3JB1gQ?encodeFailures=1&width=1920&height=532'); 
align-items: center;" ;
padding: 6px;
border-radius: 20;
max-width: 1920px;

}



.nav-item {
  font-size: 25px;
}

.bg-image {
  padding: 100px 200px 100px 200px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #445ddc76;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: all 1s ease-out;
}

button:hover {
  color: #8868cd8d;
  transition: all 2s ease-in;
}
.login-button {
  margin-left: 10px;
 
}

.background-video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
  
}

.background-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

  .div-block-1, .div-block-22 {
  margin-top: 10px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
  }

  * {
    box-sizing: border-box;

  }  
.banner-desc-1 {
  color: #fff;
  letter-spacing: -1px;
  text-indent: 0;
  text-transform: uppercase;
  -webkit-text-fill-color: inherit;
  background-color: #1d1d1d;
  background-clip: border-box;
  margin-top: 2px;
  padding: 0 10px;
  font-family: Oswald, sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 60px;
  display: inline-block;
}

.bannertitle {
  color: #f47920;
  text-transform: uppercase;
  white-space: normal;
  -webkit-text-fill-color: inherit;
  background-color: rgba(0, 0, 0, 0);
  background-clip: border-box;
  font-family: Oswald, sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 46px;
}

.upcomingevents {
  background-color: #ececec;
}

.w-container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.div-block-8 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: .5fr 1fr;
  grid-auto-columns: 1fr;
  padding-top: 40px;
  padding-bottom: 40px;
  display: grid;
}


.hilight_sml_wob {
  align-self: center;
  font-size: 25px;
  line-height: 35px;
}


#w-node-_04bef587-6f8f-3b8e-221c-40afa65bc5d8-1d040a6d {
  align-self: end;
}